.lbl-upload{
    color: var(--varLaranjaEscuro);
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
}

.upload{
    margin-top: 15px;
    display: flex;
}

#img-repertorio{
    width: 100%;
}

#arquivo-material{
    width: 100%;
    margin-bottom: 3dvh;
}

input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
    width: 50rem;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
    outline: 2px solid var(--varLaranjaClaro);
    outline-offset: 2px;
  }
  
  input[type="file"]::before {
    top: 16px;
  }
  
  input[type="file"]::after {
    top: 14px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 10.5rem;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    left: 40px;
    color: var(--varLaranjaEscuro);
    content: "Escolher arquivo";
    font-size: 1rem;
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    font-size: 0.7rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23FEA572'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

  /*RESPONSIVIDADE----------------------------------------------------------------------------------*/
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .lbl-upload{
        font-size: 1rem;
    }

    #img-repertorio{
        margin-bottom: 1rem;
    }

    input[type="file"]{
      width: 30rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .lbl-upload{
        font-size: 1.5rem;
    }

    #img-repertorio{
        margin-bottom: 2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #img-repertorio{
        margin-bottom: 0;
    }
}
