:root {
    /* Paleta de Cores */
    --varLaranjaEscuro: #F46F20;
    --varLaranjaClaro: #FEA572;
    --varCinzaEscuro: #EAEAEA;
    --varCinzaClaro: #F4F3F2;
    --varBranco: #F8F8F8;
    --varPreto: #000000;
    --varTamanhoFonteTitulo: 2.058rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--varCinzaClaro);
}

main {
    padding-right: 5%;
    padding-left: 5%;
}

.titulo-pagina{
    font-size: 1.8rem;
    color: var(--varLaranjaEscuro);
    font-weight: 700;
    padding: 1%;
}

hr.titulo-linha {
    border: 1px solid var(--varPreto);
    margin-bottom: 2.5%;
}