.selecionar{
    width: 100%;
    height: 35px;
    padding: 0 10px 0 10px;
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
    -webkit-outline: none;
    -webkit-border: none;
    appearance: none;
    border: none;
    -webkit-appearance: none;
    user-select: none;
    -webkit-user-select: none;
    transition: all 200ms ease;
}

.selecionar:focus {
    outline: none;
    -webkit-outline: none;
    -webkit-border: none;
    appearance: none;
    border: none;
    -webkit-appearance: none;
}

.selecionar::-ms-expand {
    display: none;
}

.selecionar-seta {
    border: 1px solid var(--varPreto);
    position: relative;
    display: flex;
    width: 250px;
    max-width: 250px;
    border-radius: 1rem;
    overflow: hidden;
}

.selecionar-seta::after {
    content: '\23F7';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 35px;
    width: 35px;
    color: var(--varPreto);
    font-size: 1.2rem;
    transition: all 200ms ease;
    pointer-events: none;
}

.selecionar-seta:has(.selecionar:focus)::after{
    color: var(--varLaranjaEscuro);
}

.selecionar-seta:has(.selecionar:focus) {
    border: 1px solid var(--varLaranjaEscuro);
}

.subtitulo {
    color: var(--varLaranjaEscuro);
    font-weight: 600;
    font-size: 1.2rem;
    justify-self: left;
    margin-bottom: -2rem;
}