:root {
    /* Paleta de Cores */
    --varLaranjaEscuro: #F46F20;
    --varLaranjaClaro: #FEA572;
    --varCinzaEscuro: #EAEAEA;
    --varCinzaClaro: #F4F3F2;
    --varBranco: #F8F8F8;
    --varPreto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--varCinzaClaro);
    width: 100%;
    max-width: 100vw;
    min-height: 100%;
}

main {
    padding-right: 5%;
    padding-left: 5%;
}

.titulo-pagina{
    font-size: 1.8rem;
    color: var(--varLaranjaEscuro);
    font-weight: 700;
}

.titulo-linha {
    border: .8px solid var(--varPreto);
    margin-bottom: 1rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--varPreto);
}

.seta-back {
    color: var(--varPreto);
    user-select: none;
    -webkit-user-select: none;
    transition: all 200ms ease;
}

.seta-back:hover {
    color: var(--varLaranjaEscuro);
}

.container-titulo-seta {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.hover {
    transition: all 200ms ease;
}

.hover:hover {
  transform: translateY(-8px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

button {
    touch-action: manipulation;
    cursor: pointer;
    /* position: relative; */
    -webkit-touch-callout: none;
}
