.container-tema{
  display: flex;
  flex-direction: column;
}

.tema-secao{

  width: 100%;
  max-width: 900px;
  background-color: var(--varCinzaEscuro);
  border-radius: 1rem;

  display: grid;
  margin-bottom: 1rem;
}

.container-imagem {
  grid-column: 1;
  grid-row: 1 / span 4;

  display: flex;
  justify-content: center;
  align-items: center;

}

.imagem-tema {

  border-radius: 1rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  -webkit-point-events: none;
}

.frase-tematica{
  padding-top: .5rem;
  width: 90%;

  font-weight: 700;
  color: var(--varLaranjaEscuro);
}

.frase-tematica p {
  margin: 0;
  padding-right: 2%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: normal;
  height: fit-content;
}

.banca-ano {
  font-size: 1.1rem;
  font-weight: 700;
}

.spoiler{
  grid-column: 2 / span4;
  grid-row: 3;
  font-size: 1rem;
}

.spoiler p{
  margin: 0;
  padding-right: 2%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: normal;
  -webkit-line-clamp: 2;
  height: fit-content;
}


/* BOTAO ---------------------------------------------------------- */

.botao-editar {

  grid-column: 3;
  grid-row: 1;

  position: relative;
  background: none;
  user-select: none;
  -webkit-user-select: none;
  border: none;
}

.botao-editar .material-icons{
  position: absolute;
  top: 0;
  color: var(--varPreto);

  transition: color 200ms ease;
}

.botao-editar .material-icons:hover {
  color: var(--varLaranjaEscuro);
}

.editar-opcoes{
  position: absolute;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  overflow: hidden;

  width: 0;
  height: 0;

  top: 25px;
  right: 0;
  padding: 0;

  opacity: 0;

  background-color: var(--varLaranjaClaro);
  border-radius: .5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  transition: width 200ms ease, opacity 200ms ease;
}

.editar-opcoes hr{
  border: 1px solid var(--varPreto);
}

.editar-opcoes-texto{
  width: fit-content;
  font-size: 1rem;
  text-align: left;
  color: var(--varPreto);
  text-decoration: none;
  transition: all 200ms ease;
}

.botao-editar:focus > .editar-opcoes {
  width: 10rem;
  height: 5rem;
  opacity: 1;
  padding: .8rem .5rem .8rem .5rem;
}

.editar-opcoes-texto:hover{
  opacity: .6;
}

/* FILTRO -------------------------------------------------------------------------- */

.section-barra-de-pesquisa{
  margin-bottom: 1.5rem;
}

.selecionar-retangulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  font-size: 1.1rem;
  width: 100%;
  max-width: 250px;
  background-color: #FFFFFF;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: .8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  user-select: none;
  -webkit-user-select: none;

  transition: all 200ms ease;
}

.selecionar-retangulo i{
  color: var(--varPreto);
  font-size: 1.5rem;
  transition: all 200ms ease;
}

#select {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.selecionar-op {
  position: absolute;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;

  list-style: none;
  background-color: #FFFFFF;
  border-radius: 1rem;
  height: 0;
  width: 225px;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;

  transition: all 300ms ease;
}

.selecionar-retangulo:has(#select:checked) ~ .selecionar-op {
  height: 250px;
  opacity: 1;
  visibility: visible;
}

.selecionar-retangulo:has(#select:checked) {
  border: 1px solid var(--varLaranjaEscuro);
  box-shadow: none;
}

.selecionar-retangulo:has(#select:checked) > i {
  color: var(--varLaranjaEscuro);
}

li label{
  font-size: 1.1rem;
  height: 2.5rem;
  padding: .2rem .5rem .2rem .5rem;
  border-radius: .5rem;

  display: flex;
  align-items: center;

  user-select: none;
  -webkit-user-select: none;
  transition: 200ms all ease;
}

li label:hover{
  border-radius: .8rem;
  padding: .2rem .5rem .2rem .5rem;
  color: var(--varBranco);
  background-color: var(--varLaranjaClaro);
}

input[type="checkbox"]{
  margin-left: .2rem;
  margin-right: .5rem;
}


/* RESPONSIVIDADE ------------------------------------------------------------------ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tema-secao{
    height: 100px;
    grid-template-rows: 30% 40% 20%;
    grid-template-columns: 35% 50% 15%;
  }

  .imagem-tema {
    height: 80px;
  }

  .spoiler {
    display: none;
  }

  .frase-tematica{
    grid-column: 2 / span 4;
    grid-row: 1 / span 3;
    font-size: 1rem;
  }

  .frase-tematica p{
    -webkit-line-clamp: 3;
    text-align: left;
  }

  .banca-ano {
    grid-column: 2 / span 4;
    grid-row: 3;
    font-size: 1rem;
  }

  .botao-editar {
    padding-right: .5rem;
  }

  .botao-editar .material-icons {
    font-size: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tema-secao{
    height: 100px;
    grid-template-rows: 30% 25% 45%;
    grid-template-columns: 20% 70% 10%;
  }

  .imagem-tema {
    height: 80px;
  }

  .spoiler {
    display: none;
  }

  .frase-tematica{
    grid-column: 2 / span 4;
    grid-row: 1 / span 3;
    font-size: 1.1rem;
  }

  .frase-tematica p{
    -webkit-line-clamp: 2;
  }

  .banca-ano {
    grid-column: 2 / span 4;
    grid-row: 3;
    font-size: 1rem;
  }

  .botao-editar {
    padding-right: 2.5rem;
  }

  .botao-editar .material-icons {
    font-size: 1.5rem;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tema-secao{
    height: 130px;
    grid-template-rows: 30% 25% 45%;
    grid-template-columns: 20% 75% 5%;
  }

  .imagem-tema {
    height: 100px;
  }

  .spoiler {
    display: block;
  }

  .frase-tematica{
    grid-column: 2 / span 4;
    grid-row: 1;
    font-size: 1.2rem;
  }

  .frase-tematica p{
    -webkit-line-clamp: 1;
  }

  .banca-ano {
    grid-column: 2 / span 4;
    grid-row: 2;
  }

  .botao-editar {
    padding-right: 2.5rem;
  }

  .botao-editar .material-icons {
    font-size: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tema-secao{
    height: 130px;
    grid-template-rows: 30% 25% 45%;
    grid-template-columns: 15% 80% 5%;
  }

  .imagem-tema {
    height: 100px;
  }

  .spoiler {
    display: block;
  }

  .frase-tematica{
    grid-column: 2 / span 4;
    grid-row: 1;
    font-size: 1.2rem;
  }

  .frase-tematica p{
    -webkit-line-clamp: 1;
  }

  .banca-ano {
    grid-column: 2 / span 4;
    grid-row: 2;
  }

  .botao-editar {
    padding-right: 2.5rem;
  }

  .botao-editar .material-icons {
    font-size: 2rem;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .tema-secao{
    height: 130px;
    grid-template-rows: 30% 25% 45%;
    grid-template-columns: 15% 80% 5%;
  }

  .imagem-tema {
    height: 100px;
  }

  .spoiler {
    display: block;
  }

  .frase-tematica{
    grid-column: 2 / span 4;
    grid-row: 1;
    font-size: 1.2rem;
  }

  .frase-tematica p{
    -webkit-line-clamp: 1;
  }

  .banca-ano {
    grid-column: 2 / span 4;
    grid-row: 2;
  }

  .botao-editar {
    padding-right: 2.5rem;
  }

  .botao-editar .material-icons {
    font-size: 2rem;
  }

}