:root {
    /* Paleta de Cores */
    --varLaranjaEscuro: #F46F20;
    --varLaranjaClaro: #FEA572;
    --varCinzaEscuro: #EAEAEA;
    --varCinzaClaro: #F4F3F2;
    --varBranco: #F8F8F8;
    --varPreto: #000000;
}

*{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--varCinzaClaro);
}