/*RESPONSIVIDADE -------------------------------------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .addAltTurma{
        margin-left: 0.7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .addAltTurma{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-right: 4rem; 
        margin-left: 4rem;
    }

    #dia{
        margin-right: 1rem;
    }

    #horario{
        margin-left: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .addAltTurma{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-right: 3rem; 
        margin-left: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .addAltTurma{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-right: 5rem; 
        margin-left: 5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .addAltTurma{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-right: 6rem; 
        margin-left: 6rem;
    }
    
    #dia{
        margin-right: 1rem;
    }

    #horario{
        margin-left: 1rem;
    }
}