*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: 16px;
    margin:0;
    background-color: aqua;
    color: red;
    
    display: flex;
    justify-content: center;
}

.select-box{
    margin-top: 150px;
    width: 380px;
    position: relative;
}

.select-option{
    position: relative;
}

.select-option input{
    width: 100%;
    background-color: aquamarine;
    color: red;
    border-radius: 7px;
    cursor: pointer;
    font-size: 22px;
    padding: 0 !important;
    outline: 0 !important;

}

.select-option:after{
    content: "";
    border-top: 12px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
}

.content{
    background-color: #fff;
    position: absolute;
    color: #000;
    border-radius: 7px;
    margin-top: 15px;
    width: 100%;
    z-index: 999;
    padding: 20px;
}

.search input{
    width: 100%;
    font-size: 17px;
    padding: 15px;
    outline: 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}

.options li{
    padding: 10px 15px;
    font-size: 21px;
    cursor: pointer;
    border-bottom: 1px solid gray;

}